BODY{
	font-family: Arial,Helvetica,Helv,Sans Serif;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

/**
 * The one and only div-element for the map-tiles
 */
#map{
	position: absolute;
	top: 0px;
	left: 0px;	
	width: 800px; 
	height: 600px;
}

/**
 * This div-element contains a Textarea 
 *  which may show detailed informations about
 *  script-activities
*/
#message{
	position: absolute;
	top: 50px;
	right: 5px;
}

/**
 * This is for showing, how old the data is
 */
#status_area{
	position: absolute;
	top: 5px;
	left: 70px;
}

/**
 * This div-element is for a drop-down-list
 * from which you can choose the stored track
 */
#routeChoser{
	position: absolute;
	top: 5px;
	left: 5px;
}

/**
 * For showing a link to download the gpx-file of 
 * a chosen track
 */
#downloadLink{
	position: absolute;
	top: 50px;
	left: 5px;
}